
@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    ViewBag.Title = "Assignments";
    ViewBag.CourseName = "CMPS 253 Spring 2017/2018";
    List<CloasisWeb.ApiInfrastructure.ApiModels.AssignmentsApiModel> listOfAssi = (List<CloasisWeb.ApiInfrastructure.ApiModels.AssignmentsApiModel>)ViewBag.assignmets;
    List<CloasisWeb.ApiInfrastructure.ApiModels.AssignmentTypeApiModel> listOfTypes = (List<CloasisWeb.ApiInfrastructure.ApiModels.AssignmentTypeApiModel>)ViewBag.assignmettypes;

    var counter = 0;
    var sum = 0;
}

<div class="row">
    <div class="col-md-8">

        @foreach (var type in listOfTypes)
    {
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">Manage @type.AssignmentType</h5>
                <div class="heading-elements">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" href="#">Add @type.AssignmentType</a>
                </div>

            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Max Point</th>
                                <th scope="col">Group Project</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in listOfAssi.Where(a=>a.AssignmentType == type.AssignmentType).ToList())
                        {
                               
                            counter++;
                            sum += Convert.ToInt32(item.MaxPoints);
                            <tr>

                                <td>@item.AssignmentTitle</td>
                                <td>@item.AssignmentType</td>
                                <td>@item.AssignmentDate.ToLongDateString()</td>
                                <td>@item.MaxPoints</td>
                                <td>  @item.isGroupAssignment</td>
                                <td>

                                    <ul class="icons-list">
                                        <li><a href="#"><i class="icon-pencil7"></i></a></li>
                                        <li><a href="#"><i class="icon-trash"></i></a></li>

                                    </ul>
                                </td>
                            </tr>
                    }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
}



    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-body text-center">
                    <div class="svg-inline position-relative" id="progress_icon_two"></div>
                    <h2 class="progress-percentage mt-15 mb-5 text-semibold">Total Average</h2>

                    <div class="text-size-small text-muted">Total average of all the assignments</div>
                </div>
                <ul class="progress-list">
                    <li>
                        <label>clo 1 <span>40</span></label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-info" style="width: 40%">
                                <span class="sr-only">40 Students</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label>clo 2 <span>30</span></label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" style="width: 30%">
                                <span class="sr-only">30 Student</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label>clo 3<span>20</span></label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-success" style="width: 20%">
                                <span class="sr-only">20 Student</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label>clo 4<span>33</span></label>
                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-primary" style="width: 33%">
                                <span class="sr-only">33 Student</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


      



    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding-right:25px; padding-left:25px;">

                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Assignment Type </label>
                        <select class="form-control" id="exampleFormControlSelect1">

                            @foreach (var item in listOfTypes)
    {
                        <option value="@item.AssignmentTypeID">@item.AssignmentType</option>
}

                           
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Assignment Title </label>
                        <input class="form-control" placeholder="Enter Assignment Title ">
                    </div>

                    <div class="form-group">
                        <label>Short Title</label>
                        <input class="form-control" placeholder="Enter Short Title ">
                    </div>

                    <div class="form-group">
                        <label>Max Points</label>
                        <input type="number" placeholder="Max Points" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Assignment Date</label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />
                    </div>

                    <div class="form-group">
                        <label><span class="text-semibold">Course CLOs</span></label>
                        <div class="multi-select-full">
                            <select class="multiselect-filtering" multiple="multiple">
                                <option value="cheese">Design Patterns</option>
                                <option value="tomatoes">QA/Testing</option>
                                <option value="mozarella">SPMP</option>
                                <option value="mushrooms">Software Architecture</option>

                            </select>
                        </div>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Group Assignment </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">isGraded</label>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary">Save</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

 

<script type="text/javascript">


    $(function () {
        var av = (@sum  / @counter) / 100 ;
        progressPercentage('#progress_icon_two', 46, 3, "#eee", "#43a047", av);




        // Chart setup
        function progressPercentage(element, radius, border, backgroundColor, foregroundColor, end) {


            // Basic setup
            // ------------------------------

            // Main variables
            var d3Container = d3.select(element),
                startPercent = 0,
                fontSize = 22,
                endPercent = end,
                twoPi = Math.PI * 2,
                formatPercent = d3.format('.0%'),
                boxSize = radius * 2;

            // Values count
            var count = Math.abs((endPercent - startPercent) / 0.01);

            // Values step
            var step = endPercent < startPercent ? -0.01 : 0.01;


            // Create chart
            // ------------------------------

            // Add SVG element
            var container = d3Container.append('svg');

            // Add SVG group
            var svg = container
                .attr('width', boxSize)
                .attr('height', boxSize)
                .append('g')
                .attr('transform', 'translate(' + radius + ',' + radius + ')');


            // Construct chart layout
            // ------------------------------

            // Arc
            var arc = d3.svg.arc()
                .startAngle(0)
                .innerRadius(radius)
                .outerRadius(radius - border)
                .cornerRadius(20);


            //
            // Append chart elements
            //

            // Paths
            // ------------------------------

            // Background path
            svg.append('path')
                .attr('class', 'd3-progress-background')
                .attr('d', arc.endAngle(twoPi))
                .style('fill', backgroundColor);

            // Foreground path
            var foreground = svg.append('path')
                .attr('class', 'd3-progress-foreground')
                .attr('filter', 'url(#blur)')
                .style({
                    'fill': foregroundColor,
                    'stroke': foregroundColor
                });

            // Front path
            var front = svg.append('path')
                .attr('class', 'd3-progress-front')
                .style({
                    'fill': foregroundColor,
                    'fill-opacity': 1
                });


            // Text
            // ------------------------------

            // Percentage text value
            var numberText = svg
                .append('text')
                .attr('dx', 0)
                .attr('dy', (fontSize / 2) - border)
                .style({
                    'font-size': fontSize + 'px',
                    'line-height': 1,
                    'fill': foregroundColor,
                    'text-anchor': 'middle'
                });


            // Animation
            // ------------------------------

            // Animate path
            function updateProgress(progress) {
                foreground.attr('d', arc.endAngle(twoPi * progress));
                front.attr('d', arc.endAngle(twoPi * progress));
                numberText.text(formatPercent(progress));
            }

            // Animate text
            var progress = startPercent;
            (function loops() {
                updateProgress(progress);
                if (count > 0) {
                    count--;
                    progress += step;
                    setTimeout(loops, 10);
                }
            })();
        }
    });
</script>





<!-- Load library -->
<script>
    // Enable filtering
    $('.multiselect-filtering').multiselect({
        enableFiltering: true,
        templates: {
            filter: '<li class="multiselect-item multiselect-filter"><i class="icon-search4"></i> <input class="form-control" type="text"></li>'
        },
        onChange: function () {
            $.uniform.update();
        }
    });

    // Styled checkboxes and radios
    $(".styled, .multiselect-container input").uniform({ radioClass: 'choice' });
</script>

