@using CloasisWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";

}

 
<section>
    <div class="panel panel-body login-form">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="text-center">
            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
            <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group has-feedback has-feedback-left">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            <div class="form-control-feedback">
                <i class="icon-user text-muted"> @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            <div class="form-control-feedback">
                <i class="icon-lock2 text-muted">  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</i>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
        </div>

}

        <div class="text-center">
            @if (!Request.IsAuthenticated)
    {
        <div class="form-group">
            <button @*href="@Url.Action("SignInMic", "Account")"*@ class="btn btn-success  btn-block" disabled>
                Sign in Using Microsoft Account
            </button></div>
            }       @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
}
        </div>


        <div class="text-center">
            @Html.ActionLink("Register as a new user", "Register")
        </div>
        </div>




    </section>
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}